.audio__bar__container{
    display: inline;
}
.bar__div{
    width: 100%;
    height: auto;
    white-space: nowrap;
}
.audio__bar{
    display: inline-block;
    margin: 1px;
    width: 95%;
    padding: 0.3rem;
    color: black;
    border-radius: 1rem;
}
.progress__bar__main{
    cursor: vertical-text;
    --seek-before-width:0;
    /*border: 1px black solid;*/
    accent-color: white;
    /*appearance: none;*/
    width: 100%;
    position: relative;
    border-radius: 10px;
    height: 1.4rem;
    z-index: 0;
    outline: none;
    background: transparent;
}
.progress__bar__main::-webkit-slider-thumb {
    -webkit-appearance: none;
    z-index: 100;
}
.progress__bar__sub{
    --seek-before-width:0;
    /*border: 1px black solid;*/
    appearance: none;

}
.progress__bar__sub::-webkit-slider-thumb {
    -webkit-appearance: none;
    z-index: 100;
}

.mute__button{
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin: 1px;
    background: black;
    border-radius: 50%;
}
.mute__button:hover{
    background: transparent;
}