header{
    height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-direction: row;
    justify-content: space-between;
}
.header__logo{
    display: inline-block;
    float:left
}

.header__content{
    justify-items: center;
    text-align: center;
    top: 1em;
    left: 10em
}